body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 5px 10px;
  margin: 0;
  font-size: 16px;
}

.main {
  border: solid 2px;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
